*{
  font-family: Origin Tech Demo;
}

.navbar-R {
  border-radius: 1rem;
  padding: 8px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  box-shadow: 10px 8px 10px #9F9F9F;
}

.navbar-R h1 {
  color: #f1356d;
}

.logo-R{
  margin-left: 2%;
}

.navbar-R .logo-R img{
  max-width: 188px;
  max-height: 35px;
}

.navbar-R .links-R {
  font-size: medium;
  margin-left: 1%;
}

.navbar-R .links1-R{
  margin-left: auto;
  font-size: medium;
  text-decoration: none;
} 

.navbar-R .profile-R img{
  max-width: 40px;
  min-width: 40px;
  max-height: 40px;
  min-height: 40px;
}

.navbar-R a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar-R a:hover {
  color: #f1356d;
}

.links1-R{
  margin-left: auto;
}


