


.Register-content{
  box-shadow: 0 0 35px #27282c;
    border-radius: 1rem;
    margin-top: 2%;
    width: 100%;
    height: 900px;
}

.BannerR{
  background-color: #4069e5;
  width: 100%;
  height: 280px;
  border-radius: 1rem;
}

.RegisterBox{
  text-align: center;
}

.logoRg{
  margin-top: 4%;
  max-width: 188px;
  max-height: 35px;
}

/* Inputs Textbox 393 */

.textboxNome {
  width: 359px; 
  height: 40px; 
  padding-left: 12px; 
  padding-right: 12px; 
  font-family: sans-serif; 
  font-size: 14px; 
  background: #F3F4F6FF; 
  border-radius: 4px; 
  border-width: 0px; 
  outline: black; 
}

.textboxEmail {
  width: 359px; 
  height: 40px; 
  padding-left: 12px; 
  padding-right: 12px; 
  font-family: sans-serif; 
  font-size: 14px; 
  background: #F3F4F6FF; 
  border-radius: 4px; 
  border-width: 0px; 
  outline: black; 
}
.textboxPassword {
  width: 359px; 
  height: 40px; 
  padding-left: 12px; 
  padding-right: 12px; 
  font-family: sans-serif; 
  font-size: 14px; 
  background: #F3F4F6FF; 
  border-radius: 4px; 
  border-width: 0px; 
  outline: black; 
  
}

/* Buttons Style */
.Sign-In { 
  width: 359px; 
  height: 44px; 
  align-items: center; 
  justify-content: center; 
  font-family: Inter; 
  font-size: 16px; 
  line-height: 26px; 
  color: #FFFFFFFF; 
  background: #4069E5FF; 
  opacity: 1; 
  border: none; 
  border-radius: 4px; 
  box-shadow: 0px 8px 17px #4069e5, 0px 0px 2px #4069e5; 
}


.Create-an-account {
  margin-top: 3%;
  top: 460px; 
  left: 97px; 
  width: 359px; 
  height: 44px; 
  padding: 0 16px; 
  align-items: center; 
  justify-content: center; 
  font-family: Inter; 
  font-size: 16px; 
  line-height: 26px; 
  color: #FFFFFFFF; 
  background: #ED7D2DFF; 
  opacity: 1; 
  border: none; 
  border-radius: 4px; 
  box-shadow: 0px 8px 17px #ed7d2d, 0px 0px 2px #ed7d2d; 
}
