h2{
    margin-top: 2%;
}


.content-rdc{
    margin-top: 2%;
    box-shadow: 0 0 35px #27282c;
    width: 100%;
    height: 1000px;
}

.fraseini-rdc{
    text-align: center;
    height: 70px;
}

.fraseini-rdc h2{
  padding: 1%;
}

.frase-rdc{
    pointer-events: none;
    text-decoration: none;
    color: black;
}

.box-rdc {
    margin-left: 0.5%;
    width: 99.4%; 
    height: 588px; 
    background: #27282c; /* neutral-300 */
    border-radius: 10px;
  }

  .tittle-rdc{
    color: white;
    padding: 1.5%;
  }

  li {
    color: white;
    margin-top: 4%;
    font-size: larger;
  }

  .button-rdc {
    margin-left: 5%;
    padding: 0.75rem 1.5rem;
    line-height: 84px; 
    background: #444; /* tertiary1-500 */
    transition: 0.2s;
    text-decoration: none;
  }

  .button-rdc:hover{
    border: 2px solid #1e9bff;
    color: #1e9bff;
    letter-spacing: 0.1rem;
    box-shadow: 0 0 35px #1e9bff;;
  }

  .button-rdc::before{
    content: "";
    inset: 2px;
    background: #27282c;
  }

  .button-rdc span{
    position: relative;
    z-index: 1;
  }

  .button-rdc i{
    position: relative;
  }

  .button-rdc i::before{
    content: "";
    position: absolute;
    top: -18px;
    left: 2px;
    width: 10px;
    height: 5px;
    border: 2px solid ;
    background: #27282c;
    transform: translateX(-50%);
    transition: all 0.2s ease-in;
  }

  .button-rdc:hover i::before{
    transition: all 0.2s ease-in;
    left: 80%;
    width: 20px;
  }

  .button-rdc i::after{
    content: "";
    position: absolute;
    bottom: -18px;
    right: 130px;
    width: 10px;
    height: 5px;
    border: 2px solid ;
    background: #27282c;
    transform: translateX(-50%);
    transition: 0.5s;
  }

  .button-rdc:hover i::after{
    transition: 0.5s;
    right: 80%;
    width: 20px;
  }

.lr-container-rdc {
    margin-top: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1%;
}

.left-rdc{
    width: 55%;
    float: left;
    padding: 20px;
}

.rigth-rdc{
    width: 50%;
    margin-left: 25%;
    text-align: center;

}  

.rdc {
    margin-top: 15%;
    margin-left: -54%;
    border-radius: 2rem;
    animation: flutuacao 4s ease-in-out infinite;
}
@keyframes flutuacao {
  0%, 100%{
    transform: translateY(4px);
  }
  50%{
    transform: translateY(-45px);
  }
}


