*{
    font-family: Origin Tech Demo;
}

.flex-container {
    display: flex;
    margin-top: 1%;
}

.intro{
    margin-left: 5%;
}

.Logo{
    margin-left: 5%;
    margin-top: 10%;
    max-width: 376%;
    max-height: 15%;
}

.flex-child {
    flex: 1;
    background-color: #F5F0FFFF;
}  

.banner{
    margin-left: -10%;
    width: 110%;
    height: 100%;
}

.grid-container {
    margin-top: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1%;
}

.grid-child{
    text-align: center;
    height: 350px;
}

/* Image 1574 */
.cb {
    margin-top: 18%;
    width: 150px; 
    height: 150px;
}

.rc {
    margin-top: 18%;
    width: 150px; 
    height: 150px;
}

.asi {
    margin-top: 18%;
    width: 150px; 
    height: 150px;
}

.p {
    margin-top: 18%;
    width: 150px; 
    height: 150px;
}

.pi{
    margin-top: 18%;
    width: 150px; 
    height: 150px;
}