*{
  font-family: Origin Tech Demo;
}

.navbar {
  padding: 8px;
  display: flex;
  align-items: center;
  max-width: auto;
  border-bottom: 1px solid #f2f2f2;
  box-shadow: 10px 8px 10px #9F9F9F;
}

.navbar h1 {
  color: #f1356d;
}

.navbar .logo img{
  max-width: 188px;
  max-height: 35px;
}

.links {
  margin-left: 1%;
}

.navbar .links1 {
  font-size: medium;
  margin-left: 7%;
}

.navbar .links1{
  font-size: medium;
  text-decoration: none;
  
} 

.links1 .profile{
  margin-left: 10%;
}

.navbar .profile img{
  max-width: 40px;
  min-width: 40px;
  max-height: 40px;
  min-height: 40px;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}

/* Textbox 389 */
.textbox {
  margin-left: 30%;
  top: 16px;
  opacity: 1; 
}


.textbox input {
  width: 100%; 
  height: 36px; 
  padding-left: 34px; 
  padding-right: 12px; 
  font-family: Inter; /* Body */
  font-size: 14px; 
  background: #F3F4F6FF; /* neutral-200 */
  border-radius: 4px; /* border-m */
  border-width: 0px; 
  outline: none; 
}
.textbox svg {
  position: absolute; 
  top: 12px; 
  right: 12px; 
  width: 16px; 
  height: 16px; 
  fill: #171A1FFF; /* neutral-900 */
}
.textbox svg.left {
  left: 12px; 
}
/* hover */
.textbox input:hover {
  color: #BDC1CAFF; /* neutral-400 */
  background: #F3F4F6FF; /* neutral-200 */
}
/* focused */
.textbox input:focused {
  color: #BDC1CAFF; /* neutral-400 */
  background: #FFFFFFFF; /* white */
}
/* disabled */
.textbox input:disabled {
  color: #BDC1CAFF; /* neutral-400 */
  background: #F3F4F6FF; /* neutral-200 */
}
.textbox :disabled + .icon, .textbox :disabled + .icon + .icon {
  fill: #171A1FFF; /* neutral-900 */
}

