*{
  font-family: Origin Tech Demo;
}

.navbar {
  border-radius: 0.5rem;
  padding: 8px;
  display: flex;
  align-items: center;
  max-width: auto;
  border-bottom: 1px solid #f2f2f2;
  box-shadow: 10px 8px 10px #9F9F9F;
}

.navbar h1 {
  color: #000000;
}

.navbar .logo img{
  max-width: 188px;
  max-height: 35px;
}

.links {
  margin-left: 1%;
}

.navbar .links1 {
  font-size: medium;
}

.profile{
  margin-left: 1%;
}

.navbar .profile img{
  max-width: 40px;
  min-width: 40px;
  max-height: 40px;
  min-height: 40px;
}

.navbar .Separadores {
  margin-left: 5%;
  text-decoration: none;
  padding: 8px;
}
.navbar a:hover {
  color: #000000;
  color: #5bbdb6;
}

.textbox {
  margin-left: auto;
}

.textbox input {
  border-radius: 1rem;
  right: auto;
  width: 78%; 
  height: 30px; 
  padding-left: 16px; 
  padding-right: 12px; 
  font-family: Inter; /* Body */
  font-size: 14px; 
  background: #F3F4F6FF; /* neutral-200 */
 /* border-m */
  border-width: 0px; 
  outline: none; 
}