.input-insertquiz {
    width: 359px;
    height: 40px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: sans-serif;
    margin-left: 38%;
    margin-top: 4%;
    font-size: 14px;
    background: #F3F4F6FF;
    border-radius: 4px;
    border-width: 0px;
    outline: black;
}

.button-insertquiz{
    margin-left: 1%;
    width: 100; 
    height: 44px; 
    padding: 0 16px; 
    align-items: center; 
    justify-content: center; 
    font-family: sans-serif; 
    font-size: 16px; 
    line-height: 26px; 
    color: #FFFFFFFF; 
    background: #4069E5FF; 
    opacity: 1; 
    border: none; 
    border-radius: 4px; 
    box-shadow: 0px 8px 17px #4069e5, 0px 0px 2px #4069e5; 
    }