.content1{
    text-align: center;
}

.logof{ 
    max-width: 188px;
    max-height: 35px;
}

/* Textbox 388 */
.mails input {
    right: auto;
    width: 78%; 
    height: 30px; 
    padding-left: 16px; 
    padding-right: 12px; 
    font-family: Inter; /* Body */
    font-size: 14px; 
    border-bottom: 1px solid #f2f2f2;
    box-shadow: 10px 8px 10px #9F9F9F;
   /* border-m */
    border-width: 0px; 
    outline: none; 
  }

  .foot{
    padding: 2%;
  }

  .data{
    margin-top: 2%;
    font-size: medium;
  }

  .txt{
    color: black;
    pointer-events: none;
    text-decoration: none;
  }

.point{
  color: black;
  pointer-events: none;
  text-decoration: none;
  font-size: 50px; 
  line-height: 18px;
}