h2{
    margin-top: 2%;
}


.content{
    
}

.content{
    width: 100%;
    height: 100%;
}

.box {
    width: 99.4%; 
    height: 588px; 
    background: rgb(171, 169, 169); /* neutral-300 */
    border-radius: 10px;
  }