h2{
    margin-top: 2%;
}

.content1{
    margin-top: 4%;
    width: 100%;
    height: 100%;
}

.fraseini{
    text-align: center;
    box-shadow: 10px 8px 10px #cac9c9;
    height: 70px;
}

.frase{
    pointer-events: none;
    text-decoration: none;
    color: black;
}

.box {
    margin-left: 0.5%;
    width: 99.4%; 
    height: 588px; 
    background: #27282c; /* neutral-300 */
    border-radius: 10px;
  }

  .tittle{
    color: white;
    padding: 1.5%;
  }

  li {
    color: white;
    margin-top: 4%;
    font-size: larger;
  }

  .container-button{
    width: 100%;
    min-height: 100vh;
    display: block;
    justify-content: center;
  }

  .button {
    margin-left: 5%;
    padding: 0.75rem 1.5rem;
    line-height: 84px; 
    background: #444; /* tertiary1-500 */
    transition: 0.2s;
    text-decoration: none;
  }

  .button:hover{
    border: 2px solid #1e9bff;
    color: #1e9bff;
    letter-spacing: 0.1rem;
    box-shadow: 0 0 35px #1e9bff;;
  }

  .button::before{
    content: "";
    inset: 2px;
    background: #27282c;
  }

  .button span{
    position: relative;
    inset: 0;
  }

  .button i{
    position: relative;
    inset: 0;
  }

  .button i::before{
    content: "";
    position: absolute;
    top: -18px;
    left: 2px;
    width: 10px;
    height: 5px;
    border: 2px solid ;
    background: #27282c;
    transform: translateX(-50%);
    transition: 0.5s;
  }

  .button:hover i::before{
    transition: 0.5s;
    left: 80%;
    width: 20px;
  }

  .button i::after{
    content: "";
    position: absolute;
    bottom: -18px;
    right: 130px;
    width: 10px;
    height: 5px;
    border: 2px solid ;
    background: #27282c;
    transform: translateX(-50%);
    transition: 0.5s;
  }

  .button:hover i::after{
    transition: 0.5s;
    right: 80%;
    width: 20px;
  }

.lr-container {
    margin-top: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1%;
}

.left{
    width: 55%;
    float: left;
    padding: 20px;
}

.rigth{
    width: 50%;
    margin-left: 25%;
    text-align: center;

}  

.CB {
    border-radius: 2rem;
    width: 450px; 
    height: 450px;
}


