*{
    font-family: Origin Tech Demo;
}

/* Style all page */
.container{
  margin-top: 2%;
  border-radius: 1rem;
}

/* Style first container */
.flex-container {
    display: flex;
    margin-top: 1%;
}

/* Style text in first container */
.intro{
  margin-left: 5%;
}

/* Style Logo */
.Logo{
    margin-left: 5%;
    margin-top: 10%;
    max-width: 376%;
    max-height: 15%;
}

/* Style left box in first container */
.flex-child {
    border-radius: 1rem;
    color: white;
    flex: 1;
    background-color: #27282c;
}  

/* Style banner */
.banner{
    border-radius: 1rem;
    margin-left: -10%;
    width: 110%;
    height: 100%;
}

/* Style second container */
.grid-container {
    margin-top: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1%;
}

/* Style all compunents in your box */
.grid-child{
    text-align: center;
    height: 350px;
}

/* Image Conceitos basicos */
.cb {
    margin-top: 18%;
    width: 150px; 
    height: 150px;
    animation: flutuacaocb 4s ease-in-out infinite;
}
@keyframes flutuacaocb {
    0%, 100%{
      transform: translateY(0px);
    }
    50%{
      transform: translateY(-10px);
    }
  }

  /* Style Image Redes de Computadores */
.rc {
    margin-top: 18%;
    width: 150px; 
    height: 150px;
    animation: flutuacaordc 4s ease-in-out infinite;
}
@keyframes flutuacaordc {
    0%, 100%{
      transform: translateY(0px);
    }
    50%{
      transform: translateY(-10px);
    }
  }

 /* Style Image Administracao de Sistemas Informaticos */ 
.asi {
    margin-top: 18%;
    width: 150px; 
    height: 150px;
    animation: flutuacaoadsi 4s ease-in-out infinite;
}
@keyframes flutuacaoadsi {
    0%, 100%{
      transform: translateY(0px);
    }
    50%{
      transform: translateY(-10px);
    }
  }

  /* Style Image Programacao */
.p {
    margin-top: 18%;
    width: 150px; 
    height: 150px;
    animation: flutuacaoap 4s ease-in-out infinite;
}
@keyframes flutuacaoap {
    0%, 100%{
      transform: translateY(0px);
    }
    50%{
      transform: translateY(-10px);
    }
  }

 /* Style Image Coming Soon */ 
.cs{
    margin-top: 18%;
    width: 150px; 
    height: 150px;
}
